.form-container {
    margin-bottom: 32px;
}

input {
    border: .625rem solid;
    border-image-slice: 1;
    border-width: .313rem;
    margin: .625rem 0;
}

input[type="text"] {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-size: 1.25rem;
    color: #fff;
}

.correct-letters-input {
    padding: 14px 32px 14px 16px;
    outline: none;
    width: 40%;
    background: transparent;
    color: #538d4e;
}

.known-letters-input {
    padding: 14px 32px 14px 16px;
    outline: none;
    width: 40%;
    background: transparent;
    color: #b59f3b;
}

.incorrect-letters-input {
    padding: 14px 32px 14px 16px;
    outline: none;
    width: 40%;
    background: transparent;
    color: #cc1a50;
}

.correct-letters-input::placeholder {
    color: #538d4e;
    font-size: 25px;
}

.known-letters-input::placeholder {
    color: #b59f3b;
    font-size: 25px;
}

.incorrect-letters-input::placeholder {
    color: #cc1a50;
    font-size: 25px;
}

.border-gradient-yellow {
    border-image-source: linear-gradient(to left, #b59f3b, #caec0a);
}

.border-gradient-green {
    border-image-source: linear-gradient(to left, #5ca706, #00C853);
}

.border-gradient-red {
    border-image-source: linear-gradient(to left, #a74106, #cc1a50);
}

/* Tablet */
@media (max-width: 800px){
    input[type="text"] {
        font-size: 1.25rem;
    }
    
    label {
        font-size: 1rem;
    }

    .correct-letters-input {
        width: 60%;
    }
    
    .known-letters-input {
        width: 60%;
    }
    
    .incorrect-letters-input {
        width: 60%;
    }

    .correct-letters-input::placeholder {
        font-size: 1.5rem
    }
    
    .known-letters-input::placeholder {
        font-size: 1.5rem
    }
    
    .incorrect-letters-input::placeholder {
        font-size: 1.5rem
    }
}