h2 {
    margin: .313rem;
}

.container {
    color: azure;
    max-height: 10%;
}

.too-many-guesses {
    color: #cc1a50;
    font-weight: bold;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    color: azure;
}

.suggested-guesses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    color: azure;
}

.words{
    margin: .313rem;
    font-size: 1.5rem;
    width: 25%;
}

/* Tablet */
@media (max-width: 800px){
    h1 {
        font-size: 2rem; 
    }
    h2 {
        font-size: 1.2rem; 
    }
    .words{
        font-size: 1.2rem; 
    }
    .too-many-guesses {
        font-size: .8rem;
    }
}

